<div *ngIf="showSpinner; else appTemplate" style="height: 100vh">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<ng-template #appTemplate>
  <div class="row">
  <ng-template [ngIf]="isAuthenticated | async">
    <div class="col-xs-12">
      <a routerLink="new" class="btn btn-success">New Recipe</a>
    </div>
    <hr>
  </ng-template>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-recipe-item
        @recipeListAnimation
        *ngFor="let recipeItem of recipes, let i = index; let last = last"
        [recipe]="recipeItem"
        [index]="i"
        [@moveOut]="(addedNewRecipe && last) ? 'moveIn' : ''"
        (@moveOut.done)="clearIndex()"
        >
      </app-recipe-item>
    </div>
  </div>
</ng-template>
