<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="ingredientHandler(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            ngModel
            required
            name="name"
            type="text"
            autocomplete="off"
            class="form-control">
          <div
            class="alert alert-danger"
            *ngIf="nameIsTaken">
            Ingredient already exists.
          </div>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            name="amount"
            type="number"
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="form.invalid"
            class="btn btn-success"
            type="submit">{{ selectedIngredient !== null ? 'Update' : 'Add' }}</button>
          <button
            [disabled]="!(selectedIngredient !== null)"
            class="btn btn-danger"
            type="button"
            (click)="deleteIngredient()">Delete</button>
          <button
            [disabled]="!(selectedIngredient !== null) && form.pristine"
            class="btn btn-primary"
            type="button"
            (click)="clear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
